*{
    box-sizing: border-box;
}
body{
    background-color: #fcebb6;
    font-family: tahoma,arial, sans-serif;
    background-image: url("img/fadedroad50.jpg");
    background-repeat: no-repeat;
}
header{
    color: #231814;
    background-color: #d2b48c;
    background-image: url("img/coffeelogo.jpg");
    background-repeat: no-repeat;
    padding-top: 5px;
    padding-left: 240px;
    padding-bottom: 5px;
}

header a:link{ text-decoration: none; display: block; color: #231814;}
header a:visited{ text-decoration: none; display: block; color: #231814;}
header a:hover{ text-decoration: none; display: block; color: #fef6c2;}
h1{
    font-size: 3em;

}
h2{
    color: #8c3826;
}
h3{
    color: #8c3826;
}
h4{
    background-color: #d2b48c;
    font-size: 1.2em;
    padding-left: .5em;
    padding-bottom: 0;
    text-transform: uppercase;
    border-bottom: #000000;
    float: left;
}
dt{
    color: #8c3826;
}

main{
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 2em;
    display: block;
    margin-left: 200px;
    background-color: #fef6c2;
    overflow: auto;
    
}

main h2,h3,h4,p,div,ul,dl{padding-left: 3EM; padding-right: 2em}


nav{
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    width: 200px;
    float: left;
    height: 100%;
}
nav a:link{ text-decoration: none; color: #fef6c2;}
nav a:visited{ text-decoration: none; color: #d2b48c;}
nav a:hover{ text-decoration: none; color: #cc9933;}
nav ul{
    padding-left: 0;
    list-style-type: none;
}
footer{
    background-color: #d2b48c;
    font-size: small;
    font-style: italic;
    text-align: center;
    padding: 1em;
    border-top: 2px #8c3826;
}
img{
    padding-left: 10px;
    padding-right: 10px;
}
#wrapper{
    width: 80%;
    background-color: #231814;
    margin-right: auto;
    margin-left: auto;
    min-width: 900px;
    max-width: 1280px;
    box-shadow: black;
    padding: 0;
}
#homehero{
    background-size: 100% 100%;   
}
#homemugs{
    background-size: 100% 100%;
    background-image: url("img/heromugs.jpg");
}
#homeguitar{
    background-size: 100% 100%;
    background-image: url("img/heroguitar.jpg");
}

.details{
    padding-left: 20%;
    padding-right: 20%;
    overflow: auto;
}
.onethird{
    float: left;
    width: 33%;
}
.floatleft{
    float: left;
    padding-right: 2em;
    padding-bottom: 2em;
}
