*{
    box-sizing: border-box;
}
body{
    background-color: #d2b48c;
    font-family: tahoma,arial, sans-serif;
    margin: 0;

}
header{
    color: #231814;
    background-color: #d2b48c;
    background-image: url("img/cup.jpg");
    background-repeat: no-repeat;
    padding-top: 5px;
    padding-left: 105px;
    padding-bottom: 5px;
    height: 128px;
}

header a:link{ text-decoration: none; display: block; color: #231814;}
header a:visited{ text-decoration: none; display: block; color: #231814;}
header a:hover{ text-decoration: none; display: block; color: #fef6c2;}
h1{
    font-size: 2em;
}
h2{
    color: #8c3826;
}
h3{
    color: #8c3826;
}
h4{
    background-color:#d2b48c;
	font-size:1.2em; 
	text-transform:uppercase; 
	border-bottom:1px solid #000000; 
	padding-bottom:0px; 
	clear:left; 
}
dt{
    color: #8c3826;
}

main{
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 2em;
    display: block;
    background-color: #fef6c2;
}
main ul{
    padding-left: 2em;
}

main h2,h3,h4,p,div,ul,dl{padding-left: 1em; padding-right: 1em}


nav{
    text-align: center;
    font-size: 1.25em;
    text-decoration: none;
    height: 100%;
    margin: 0;
    padding: 0;
}
nav a:link{ text-decoration: none; color: #fef6c2;}
nav a:visited{ text-decoration: none; color: #d2b48c;}
nav a:hover{ text-decoration: none; color: #cc9933;}
nav ul{
    padding-left: 0;
    display: flex;
    flex-direction: column;
    list-style-type: none;
}
nav li{
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    border-bottom:solid 1px;
    border-color: #d2b48c;
}
footer{
    background-color: #d2b48c;
    font-size: small;
    font-style: italic;
    text-align: center;
    padding: 1em;
    border-top: 2px #8c3826;
}
img{
    padding-left: 10px;
    padding-right: 10px;
}
#wrapper{
    background-color: #231814;
    padding: 0;
}
#homehero{
    background-size: 100% 100%;
    background-image: url("img/road.jpg");   
    background-repeat: no-repeat;
    display: block;
    height: 300px;
}
#homemugs{
    background-size: 100% 100%;
    background-image: url("img/threemugs.jpg");
    background-repeat: no-repeat;
    display: block;
    height: 300px;
}
#homeguitar{
    background-size: 100% 100%;
    background-image: url("img/guitar.jpg");
    background-repeat: no-repeat;
    display: block;
    height: 300px;
}

.details{
    padding-left: 20%;
    padding-right: 20%;
    overflow: auto;
}
/* 
.onethird{
    float: left;
    width: 33%;
}
.floatleft{
    float: left;
    padding-right: 2em;
    padding-bottom: 2em;
}
*/


#mobile{
    display: inline;
}
#desktop{
    display: none;
}
@media(min-width:600px){
    header{
        text-align: center;
        padding-left: 0;
    }
    h1{
        font-size: 3em;
    }
    h4{
        margin-left: 10%;
        margin-right: 10%;
    }
    nav ul{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
    }
    nav li{
        border-bottom: none;
    }
    #homehero{
        height: 50vh;
        background-image: url("img/hero.jpg");
    }
    #homemugs{
        
        background-image: url("img/heromugs.jpg");
    }
    #homeguitar{
        
        background-image: url("img/heroguitar.jpg");
    }
    #flow{
        display: flex;
        flex-direction: row;
    }
    #mobile{
        display: none;
    }
    #desktop{
        display: inline;
    }
    .details{
        display: flex;
        flex-direction: row;
    }
}
@media(min-width:1024px){
    header{grid-area: header;background-image: url("img/coffeelogo.jpg");}
    nav{grid-area: nav;}
    main{grid-area: main;}
    footer{grid-area: footer;}
    
    #wrapper{ display: grid;
              grid-template:
                    "header header"
                    "nav   main"
                    "footer   footer"
                    /200px; }
    nav ul{
        flex-direction: column;
    }
}
